<div class="heder-bg">
  <div class="container">
    <div class="row menubg">
      <div class="twleve columns logo-bg">
        <div class="three columns">
          <a href="https://www.flickzee.com/" title="FlickZee">
            <img src="assets/flickZee.png" alt="FlickZee">
          </a>
        </div>
        <div class="six columns">
          <div id="search" class="search-form">
            <div class="autocomplete">
              <input #query autocomplete="off" (keyup.enter)="searchbtn.click()" type="text" name="searchTerm" class="searchInput" id="searchTerm" placeholder="Search any movie you wanna watch" [value]="searchQuery" />
            </div>
            <span #searchbtn (click)="search(query.value)" id="searchIcon"></span>
          </div>
        </div>
        <div class="three columns">
          <a href="https://www.flickzee.com/blog" class="blog-link" title="Blog">Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bgWhite">
  <div *ngIf="movies.length > 0">
    <div *ngFor="let movie of movies" class="row">
      <div class="twelve card columns">
        <h2><a href='https://teaser.flickzee.com/full-movie/{{movie.slug}}-watch-online-{{movie.id}}'>{{movie.MovieName}} ({{movie.Year}})</a></h2>
        <div class="movie-info">
          <div class="five columns">
            <a href='https://teaser.flickzee.com/full-movie/{{movie.slug}}-watch-online-{{movie.id}}' title={{movie.MovieName}}>
              <img class="movie-img" src="https://teaser.flickzee.com/assets/movieimages/movie-id-{{movie.id}}.jpeg" onerror="this.onerror=null; this.src='https://www.flickzee.com/images/missing.png'" alt="{{movie.MovieName}} Watch Online">
            </a>
          </div>
          <div class="seven columns">
            <span class="twelve columns avail-on">Watch Online</span>
            <span (click)="getProviders(movie)">hye</span>
            <div *ngFor="let provider of providers" class="two columns icon-container">
              <a href='{{provider.url}}'>
                <img class="showpointer icon-class wtwtrigger" src="" alt="NA">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="movies.length == 0">
      <div class="twelve card columns">
        <div class="movie-info">
          <div class="twelve columns">
            <p>No match found.<br>Check the spelling or type IMDB Movie Name</p>
            <a href="mailto:flickzeemovies@gmail.com?subject=I%20Found%20zssdasd" title="Found it">Found it? <br> Let everyone know !</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row footer-height">
      <div class="twelve columns">
        <p class="Have-something-to-sa"><a
            href="mailto:flickzeemovies@gmail.com?subject=Have%20something%20to%20say&amp;body=We%20value%20your%20feedback%20and%20are%20looking%20forward%20to%20your%20mail.%20Please%20tell%20us%20what%20you%20feel%20about%20the%20product."
            title="Have something to say? We&#39;re excited !">Have something to say? We're excited !</a></p>
      </div>
    </div>
  </div>


  <!-- <div class="seven columns">
  <span class="twelve columns avail-on">Watch Online</span>
  <div class="two columns icon-container">
    <img class="showpointer icon-class wtwtrigger" onclick="window.open(&#39;https://www.apple.com/in/search/Fanaa&#39;, &#39;_blank&#39;)"
      src="./&#39;fanaa&#39; - FlickZee Search Results - Find where to watch your favourite Movie &amp; TV Show_files/iTunes.png" alt="iTunes">
  </div>
  <div class="two columns icon-container">
    <img class="showpointer icon-class wtwtrigger" onclick="window.open(&#39;https://www.primevideo.com/search/ref=atv_nb_sr?ie=UTF8&amp;phrase=Fanaa&#39;, &#39;_blank&#39;)"
      src="./&#39;fanaa&#39; - FlickZee Search Results - Find where to watch your favourite Movie &amp; TV Show_files/PrimeVideo.png" alt="PrimeVideo">
  </div>
  <div class="two columns icon-container">
    <img class="showpointer icon-class wtwtrigger" onclick="window.open(&#39;https://play.google.com/store/search?q=Fanaa&#39;, &#39;_blank&#39;)"
      src="./&#39;fanaa&#39; - FlickZee Search Results - Find where to watch your favourite Movie &amp; TV Show_files/GooglePlay.png" alt="GooglePlay">
  </div>
  <div class="two columns icon-container">
    <img class="showpointer icon-class wtwtrigger" onclick="window.open(&#39;https://www.youtube.com/results?search_query=Fanaa&#39;, &#39;_blank&#39;)"
      src="./&#39;fanaa&#39; - FlickZee Search Results - Find where to watch your favourite Movie &amp; TV Show_files/YouTube.png" alt="YouTube">
  </div>
</div> -->
