<div class="heder-bg">
  <div class="container">
    <div class="row menubg">
      <div class="twleve columns logo-bg">
        <div class="three columns">
          <a href="https://www.flickzee.com/" title="FlickZee">
            <img src="assets/flickZee.png" alt="FlickZee">
          </a>
        </div>
        <div class="six columns">
          <div id="search" class="search-form">
            <div class="autocomplete">
              <input #query autocomplete="off" (keyup.enter)="searchbtn.click()" type="text" name="searchTerm" class="searchInput" id="searchTerm" placeholder="Search any movie you wanna watch" [value]="searchQuery" />
            </div>
            <span #searchbtn (click)="search(query.value)" id="searchIcon"></span>
          </div>
        </div>
        <div class="three columns">
          <a href="https://www.flickzee.com/blog" class="blog-link" title="Blog">Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="movies" class="container bgWhite">

</div>

  <div class="container">
    <div class="row footer-height">
      <div class="twelve columns">
        <p class="Have-something-to-sa"><a
            href="mailto:flickzeemovies@gmail.com?subject=Have%20something%20to%20say&amp;body=We%20value%20your%20feedback%20and%20are%20looking%20forward%20to%20your%20mail.%20Please%20tell%20us%20what%20you%20feel%20about%20the%20product."
            title="Have something to say? We&#39;re excited !">Have something to say? We're excited !</a></p>
      </div>
    </div>
  </div>
